{% extends "layout.html.twig" %}

{% block content %}
    <h1>{{title1}}</h1>
    <div>
        <p class="button"><a  href="/stock">Stock</a></p> 
        <p class="button"><a  href="/pedidos">Pedidos</a></p>           
    </div>  	 	
 
{% endblock %}